<%= labelled_form_for @rule, :html => {:id => 'auto-update-rule-form', :name => 'auto-update-rule-form_name'} do |f| %>

  <%= error_messages_for @rule %>

  <div class="box tabular">
    <div id="auto_update_rule_attributes">

      <p><%= f.select :initial_status_ids,
                      options_for_select(IssueStatus.sorted.map {|s| [s.name, s.id]}, @rule.initial_status_ids),
                      {label: l(:field_initial_status_plural)},
                      multiple: true %></p>

      <p><%= f.select :final_status_id,
                      options_for_select(IssueStatus.sorted.map {|s| [s.name, s.id]}, @rule.final_status_id),
                      {label: l(:field_final_status), required: true},
                      {multiple: false} %></p>

      <p><%= f.text_area :note %></p>

      <p><%= f.text_field :time_limit, {label: l(:field_time_limit_in_days), required: true} %></p>

      <p><%= f.select :project_id,
                      project_tree_options_for_select(Project.active.sorted, :selected => @rule.project),
                      {label: l(:field_parent_project), :include_blank => true} %></p>

    </div>
  </div>

  <%= submit_tag l(:button_save) %>

  <%= javascript_tag "$('#issue_template_template_title').focus();" %>

<% end %>
