<%= labelled_form_for @rule, :html => { :id => 'auto_update_rule_form' } do |f| %>

  <%= error_messages_for @rule %>

  <div class="box tabular">
    <div id="auto_update_rule_attributes">

      <div class="splitcontent">

        <div class="splitcontentleft">

          <p><%= f.text_field :name, { label: l(:field_name), required: false, size: 80 } %></p>

          <fieldset>
            <legend><%= l(:label_filters) %></legend>
            <p><%= f.select :initial_status_ids,
                            options_for_select(IssueStatus.sorted.map { |s| [s.name, s.id] }, @rule.initial_status_ids),
                            { label: l(:field_initial_status_plural) },
                            { class: "orga-select2", multiple: true } %></p>
          </fieldset>


          <p>
            <%= f.select :final_status_id,
                         options_for_select(IssueStatus.sorted.map { |s| [s.name, s.id] }, @rule.final_status_id),
                         { label: l(:field_final_status), required: false, include_blank: true },
                         { multiple: false } %>
            <span><i><%= l('hint_no_final_status') %></i></span>
          </p>

          <p>
            <%= f.select :final_priority,
                         options_for_select([[l(:label_higher_priority), :higher], [l(:label_lower_priority), :lower]] + IssuePriority.sorted.map { |s| [s.name, s.id] }, @rule.final_priority),
                         { label: l(:field_final_priority), required: false, include_blank: true },
                         { multiple: false } %>
          </p>

          <p>
            <%= f.number_field :time_limit, { label: l(:field_time_limit_in_days), required: false } %>
            <span><i><%= l('hint_based_on_issue_updated_at_field') %></i></span>
          </p>

          <p>
            <%= f.check_box :include_weekends, {label: l(:field_include_weekends)} %>
          </p>

          <p>
            <%= f.check_box :update_issue_timestamp, { label: l(:label_update_issue_timestamp) } %>
            <span><i><%= l('hint_only_when_status_is_not_updated') %></i></span>
          </p>

          <p>
            <%= f.label l(:label_project_plural) %>
            <span class="select_projects" id="select_projects" style="display: block;">
              <%= f.select :project_ids, project_tree_options_for_select(@rule.allowed_target_projects, :selected => @rule.projects),
                           { :required => false, label: "" },
                           { :multiple => true, :size => 10, style: "display:none;" } %>
              <span id="my_projects">
              <% @rule.projects.each do |project| %>
                <%= content_tag("span", project.name.gsub(/ /, "&nbsp;").html_safe, class: "list_projects_names") %>
              <% end %>
            </span>
          </span>

            <%= link_to l("button_edit"), '#', id: "link_update_project_list", :onclick => 'showModal("ajax-modal", "1000px");$("#button_apply_projects").focus();' %>

            <script type="text/javascript">
                $(document).ready(function () {
                    $('#ajax-modal').html('<%= escape_javascript(render :partial => 'auto_update_rules/modal_select_projects') %>');
                });
            </script>

          </p>

          <p><%= f.select :tracker_ids,
                          options_for_select(Tracker.sorted.map { |s| [s.name, s.id] }, @rule.tracker_ids),
                          { label: l(:label_tracker_plural) },
                          { class: "orga-select2", multiple: true } %></p>

          <p><%= f.text_area :note, rows: 6, label: l(:label_auto_update_note) %></p>

          <p>
            <%= f.select :assignment,
                         options_for_select(AutoUpdateRule::ASSIGNMENT_FILTER_VALUES.map { |v| [l("label_#{v}").downcase, v] }, @rule.assignment),
                         { label: l(:field_assigned_to), include_blank: true } %>
          </p>

          <% if Redmine::Plugin.installed?(:redmine_organizations) %>
            <p>
              <%= f.select :organization_ids,
                           options_for_select(nested_set_options(Organization) { |i| i.fullname }, @rule.organization_ids),
                           { label: l(:field_issues_assigned_to) },
                           { class: "orga-select2", multiple: true } %>
            </p>
          <% end %>

        </div>

        <div class="splitcontentright">
          <fieldset id="auto_update_rule">
            <legend><%= l(:label_automatic_daily_run) %></legend>
            <p>
              <%= f.check_box :enabled, { label: l(:label_enabled_rule) } %>
            </p>
            <p>
              <%= f.select :author_id,
                           principals_options_for_select(User.active.sorted, @rule.author),
                           { label: l(:field_update_author), required: true } %>
            </p>
          </fieldset>
        </div>

      </div>

    </div>
  </div>

  <%= submit_tag l(:button_save) %>

<% end %>
