<% html_title(l(:label_auto_update_rules)) %>

<div class="contextual">
  <%= link_to(l(:label_new_auto_update_rule),
              {:controller => 'auto_update_rules', :action => 'new'},
              :class => 'icon icon-add', :method => :get) %>
</div>

<h2><span class="icon icon-auto-update-status"><%= h "#{l(:label_auto_update_rules)}" %></span></h2>

<% if @notice %>
  <div class="flash notice"><%= @notice %></div>
<% end %>

<% if @rules.empty? %>
  <div class="rules_box">
    <%= l(:no_auto_update_rules) %>
  </div>
<% else %>

  <div class="rules_box">

    <table class="list rules" id="rules_list">
      <thead>
      <tr>
        <th></th>
        <th class="rule_initial_status"><%= l(:field_initial_status_plural) %></th>
        <th class="rule_final_status"><%= l(:field_final_status) %></th>
        <th><%= l(:label_subprojects_of) %></th>
        <th><%= l(:field_time_limit) %></th>
        <th><%= l(:label_automatic_daily_run) %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @rules.each do |rule| %>
        <% initial_statuses = IssueStatus.where(id: rule.initial_status_ids).join(', ') %>
        <% final_status = IssueStatus.where(id: rule.final_status_id).join(', ') %>
        <tr class="rule">
          <td style="text-align: left;"><%= link_to l("show_auto_update_rule_results", issues_count: rule.issues.count), auto_update_rule_path(rule), :class => 'icon icon-issue' %></td>
          <td><%= h(initial_statuses) %></td>
          <td><%= h(final_status) %></td>
          <td><%= h(rule.project) %></td>
          <td><%= l 'time_in_days', days: rule.time_limit %></td>
          <td><span class="<%= rule.enabled ? 'icon icon-ok' : 'icon icon-not-ok' %>"></span></td>

          <td class="buttons">
            <%= link_to l(:button_edit), edit_auto_update_rule_path(id: rule.id), :class => 'icon icon-edit' %>
            <%= delete_link auto_update_rule_path(rule) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

<% end %>
