<div class=contextual>
  <%= link_to l(:label_all_auto_update_rules), auto_update_rules_path, class: "icon-auto-update-status" %>
</div>

<h2><%= l :label_apply_auto_update_rule %></h2>

<fieldset id="auto_update_rule">
  <legend><%= l(:label_auto_update_rule) %></legend>
  <span class="label" style="float: right;"><%= link_to l(:label_update_auto_update_rule), edit_auto_update_rule_path(@rule) %></span>

  <span class="label"><%= l(:field_initial_status_plural) %></span> :
  <span class="value"><%= @initial_statuses.join(" #{l 'conditional_or'} ") %></span><br/>

  <span class="label"><%= l(:field_final_status) %></span> :
  <span class="value"><%= @final_status %></span><br/>

  <br>

  <span class="label"><%= l(:label_auto_update_note) %></span> :
  <span class="value"><%= @rule.note.truncate(40) %></span><br/>

  <span class="label"><%= l(:field_time_limit) %></span> :
  <span class="value"><%= l 'time_in_days', days: @rule.time_limit %></span><br/>

  <% if @rule.project.present? %>
    <span class="label"><%= l(:field_parent_project) %></span> :
    <span class="value"><%= link_to_project @rule.project %></span><br/>
  <% end %>

  <% if Redmine::Plugin.installed?(:redmine_organizations) && @rule.organization_ids && @rule.organization_ids.reject(&:blank?).present? %>
    <span class="label"><%= l(:field_issues_assigned_to) %></span> :
    <span class="value"><%= Organization.where(id: @rule.organization_ids).join(" #{l 'conditional_or'} ") %></span><br/>
  <% end %>

  <br/>

  <span class="label"><%= l(:label_automatic_daily_run) %></span> :
  <span class="value <%= @rule.enabled ? 'icon icon-ok' : 'icon icon-not-ok' %>" style="margin-left: 10px;"></span><br/>

  <span class="label"><%= l(:field_update_author) %></span> :
  <span class="value"><%= link_to_user @rule.author %></span><br/>

  <br/>

  <hr>
  <span class="label" style="float: right;">
    <%= link_to l(:label_apply_to_all), apply_auto_update_rule_path(id: @rule.id, apply_to_all: true), method: :post %>
  </span>
  <%= l("show_auto_update_rule_results", issues_count: @issues_to_change_count) %>
  <br>
  <%= l 'issues_total_count' %>: <%= @issues_total_count %>
</fieldset>

<br>

<table class="list">
  <thead>
  <tr>
    <th><%= l 'field_project' %></th>
    <th><%= l 'field_created_on' %></th>
    <th><%= l 'field_subject' %></th>
    <th><%= l 'field_assigned_to' %></th>
    <th><%= l 'field_status' %></th>
    <th><%= l 'field_final_status' %></th>
    <th><%= l 'button_actions' %></th>
  </tr>
  </thead>
  <tbody>
  <% @issues_to_change_paginated.each do |issue| %>
    <tr>
      <td><%= link_to_project(issue.project) %></td>
      <td><%= format_date(issue.created_on) %></td>
      <td style="text-align: left;"><%= link_to_issue issue %></td>
      <td><%= link_to_user issue.assigned_to %></td>
      <td><%= issue.status %></td>
      <td><%= @final_status %></td>
      <td><%= link_to l('apply_change'), apply_auto_update_rule_path(id: @rule.id, issue_id: issue.id), method: :post %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<span class="pagination"><%= pagination_links_full @issues_to_change_pages, @issues_to_change_count %></span>

